<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
        <title>View Post - {{post.title}} </title>
    </head>
    <body>
        <div class="container">
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="x0u0EsaQ"></script>
            <div id="fb-root"></div>
            <header class="blog-header bg-dark p-2">
                <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col text-center">
                <a href="/">
                    <img class='img-fluid img-logo' src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
                </a>
                </div>
                <div class="col-7">
                    <h3 class="text-light m-0 p-0">philalethia <small class="text-muted">(φιλαλήθεια):</small></h3><p class="m-0 p-0 text-light">the love of truth</p>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    {% if session['admin'] %}
                        <a class="hover btn btn-sm btn-outline-secondary" href="/admin">Admin</a>
                    {% endif %}
                    <div class="dropdown">
                        <a class="link-secondary hover" role="button" id="searchForm" data-bs-toggle="dropdown" href="#ddmenu" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark" id="ddmenu">
                            <form action="/searchposts" method="POST" class="p-2">
                                <select class="mb-2 form-select" name="search_by">
                                    <option value="1" selected>Title</option>
                                    <option value="2">Author</option>
                                    <option value="3">Content</option>
                                </select>
                            <input type="text" class="mb-2 form-control" name="searchString">
                            <input type="submit" class="btn btn-primary form-control" value="Search">
                            </form>
                        </div>
                    </div>
                    {% if session %}
                        <a class="hover btn btn-sm btn-outline-secondary" href="/logout">Logout</a>
                    {% else %}
                        <a class="hover btn btn-sm btn-outline-secondary" href="/signin">Sign up/in</a>
                    {% endif %}
                </div>
                </div>
            </header>
        </div>
        <div class="container pt-4">
            <div class="container bg-light shadow border p-4">
            {% if post.type_id == 5 %} 
                <div class="row align-items-center">
                    <div class="col-4 text-center">
                        <a href="{{post.highlight_url}}"><img class="shadow-lg border border-3 border-dark" src={{post.highlight_img}} alt="author image" width="200"></a>
                    </div>
                    <div class="col-8">
                        <p class="text-center fst-italic">{{ post.abstract | safe }} <br><strong>-{{post.author_name}}, {{post.author_title}}</strong></p>
                        <div class="row align-items-center">
                        {% if session['user_id'] %}
                            <form class="col-8 mt-5" action='/submitcomment' method='post'>
                                <div class="input-group align-items-center">
                                    <label for="comment">Comment:</label>
                                    <input type="hidden" name="id" value="{{post.id}}">
                                    <input class="form-control" type="text" name="comment">
                                    <button class="btn btn-primary " type="submit">Submit</button>
                                </div>
                            </form>
                            <form class="col-2 mt-5" action='/likepost' method='post'>
                                <div class="input-group align-items-center">
                                    <input type="hidden" name="liked" value="{{liked}}">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    {% if (liked != 0)  %}
                                        <button class="ml-2 btn btn-success" type="submit"><img src="../static/img/like_wt.png" width="16" alt="like"> {{numLikes}} Likes</button>
                                    {% else %}
                                        <button class="ml-2 btn btn-secondary" type="submit"><img src="../static/img/like_wt.png" width="16" alt="like"> {{numLikes}} Likes</button>
                                    {% endif %}
                                </div>
                            </form>
                        {% else %}
                        <div class="col-8 mt-5">
                            <p class="text-secondary fst-italic">Sign in/up if you wish to 'Like' post or make a comment.</p>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="align-items-center">
                    <h2 class="text-center">{{post.title}}</h2>
                    <p class="text-center">by {{post.author_name}}</p>
                    <div class="text-center">
                        <a href="{{post.highlight_url}}"><img class="shadow-lg border border-3 border-dark" src={{post.highlight_img}} alt="author image" width="300"></a>
                    </div>
                    <p>{{post.body | safe}}</p>
                    <div class="row mx-auto align-items-center">
                        {% if session['user_id'] %}
                            <form class="col-10 mt-4" action='/submitcomment' method='post'>
                                <div class="input-group align-items-center">
                                    <label for="comment">Comment:</label>
                                    <input type="hidden" name="id" value="{{post.id}}">
                                    <input class="form-control" type="text" name="comment">
                                    <button class="ml-2 btn btn-primary" type="submit">Submit</button>
                                </div>
                            </form>
                            <form class="col-2 mt-4" action='/likepost' method='post'>
                                <div class="input-group align-items-center">
                                    <input type="hidden" name="liked" value="{{liked}}">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    {% if (liked != 0)  %}
                                        <button class="ml-2 btn btn-success" type="submit"><img src="../static/img/like_wt.png" width="16" alt="like"> {{numLikes}} Likes</button>
                                    {% else %}
                                        <button class="ml-2 btn btn-secondary" type="submit"><img src="../static/img/like_wt.png" width="16" alt="like"> {{numLikes}} Likes</button>
                                    {% endif %}
                                </div>
                            </form>
                        {% else %}
                            <p>Sign in/up if you wish to 'Like' post or make a comment.</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}  
            </div>
        </div>
        {% if comments|length > 0 %}
        <div class="container pt-4">
            <div class="container bg-light shadow border p-4">
                <h3 class="text-primary">Comments</h3>
                    {% for c in comments %}
                    <div class="row">
                        <div class="col-9">{{c.comment}}</div>
                        <div class="col-3">{% if (session['admin'] or c.author.id == session['user_id']) %} <a href="/deletecomment/{{post.id}}/{{c.id}}">Delete Comment</a>{% endif %}</div>
                    </div>
                    <div class="row mb-2">
                         <div class="fst-italic">-{{c.author.first_name}} {{c.author.last_name}}</div>
                    </div>
                    {% endfor %}
            </div>  
        </div>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>